h1, h2, h3, h4 {
font-family: var(--font-wire);
}

p {
    font-family: var(--font-yaldevi);
}


/* Formulaire de Contact */
form {
    padding-bottom: 10%;
}

input {
    padding-bottom: 5%;
}
/* ===================== */