.form_error {
    border-radius: 10px;
    background: var(--vert1);
    border: none;
}

section a:link {
    text-decoration: none;
}

.sitemap {
        font-size: var(--index-cards-button);
        background: var(--vert2);
        text-align:center;
        margin:auto;
        display:flex;
        margin-bottom: 5%;
        border-radius: 10%;
}

.sitemap_fr {
    color: blue;
    margin-bottom: 10%;
}

.sitemap_en {
    color: red;
}