.sectionD {
    padding-bottom: 20%;
    text-align: right;
    align-items: right;
}

.sectionG {
    padding-bottom: 20%;
    text-align: left;
    align-items: left; 
}

.pbarre {
    width: 30%;
}